$hover-icon:rgb(163, 248, 163);
.social-media-links {
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  width: 50%;
}
.social-media-links i {
  font-size: 70px;
  color: white;
}
.social-media-links i:hover {
  font-size: 80px;
  color: $hover-icon;
}
.social-media-links i{
  font-size: 70px;
}

@media screen and (min-width: 570px) and (max-height: 300px){
  .landing {
    display: inline;
  }
  
}


@media screen and (max-width: 1070px) {
  .social-media-links i{
    font-size: 50px;
  }
}
