.social-media-links {
  display: flex;
  justify-content: space-around;
  margin: auto;
  align-items: center;
  width: 50%;
}
.social-media-links i {
  font-size: 70px;
  color: white;
}
.social-media-links i:hover {
  font-size: 80px;
  color: rgb(163, 248, 163);
}
